@import "site.styl"

.detalle
    padding 30px 0
    &-container
        display flex
        .articulo
                width 70%
                img
                    width 100%
                    display: block
                h1
                    font-weight: medium
                    font-size 50px
                    color azul
                h3
                    font-weight: medium
                    font-size 24px
                    color azul_claro
                p
                    font-size: 16px
    &-buscador
        width 30%
        .barra
            position relative
            margin: 120px 40px 0
            img
                position absolute
                left 20px
                top 10px
            input
                width 100%
                border: 2px solid azul_claro
                padding 15px 70px
                border-radius: 30px
                color azul_claro
            &-resultados
                h2
                    font-size: 24px
                    color azul_oscuro
                    margin 10px 0
                a
                    font-size: 24px
                    color gris
                    font-weight regular
                    margin 20px 0
                    display block
                    &:hover
                        font-weight: 600
                        color azul_claro
                .active
                    font-weight: 600
                    color azul_claro
    &-ultimos
        padding-top: 100px
        h2
            font-weight: medium
            font-size 50px
            color azul
            text-align: center
        .boton
            text-align: center
            a
                font-size: 24px
                font-weight: semibold
                color verde
                background: blanco
                border 2px solid verde
                border-radius: 25px
                padding 10px 60px
                &:hover
                    background: verde
                    border none
                    color white
@media screen and (max-width: 1080px)
    .detalle
        &-container
            flex-wrap: wrap-reverse
            .articulo
                width: 100%
                margin 30px 0
                img
                    width 80%
                    margin auto
        &-buscador
            width 100%
            .barra
                margin 30px 0px
                &-resultados
                    padding-left: 30px
        &-ultimos
            padding-top 30px
@media screen and (max-width: 550px)
    .detalle
        &-container
            .articulo
                h1
                    font-size: 30px
                h3
                    font-size: 20px
