@import "site.styl"
.Blog
    &-banner
        background url('../images/blog/banner.png') no-repeat center
        background-size: cover
        padding 140px 0
        &-container
            display flex
            justify-content: space-between
            align-items: center
        &-imagen
            width 40%
            img
                width 100%
        &-texto
            color white
            margin-left: 10px
            width 51%
            h1
                font-size: 70px
                font-weight: medium
                margin-bottom: 30px
                max-width: 450px
                strong
                    color verde
            p
                font-size: 16px
    &-contenido
        padding 20px 0
        &-menu
            padding-bottom: 50px
        &-buscador
            text-align: center
            max-width: 70%
            margin 0 auto
            h2
                font-size: 50px
                font-weight: medium
                color azul
                margin 0
            .barra
                position relative
                margin 45px 0
                img
                    position absolute
                    left 20px
                    top 10px
                input
                    width 100%
                    border: 2px solid azul_claro
                    padding 15px 70px
                    border-radius: 30px
                    font-size: 20px
                    color azul_claro
        &-categorias
            margin 0 auto
            ul
                list-style none
                display flex
                justify-content: space-between
                padding 0
                li
                    font-size: 24px
                    cursor pointer
                    &:hover
                        font-weight: bold
                        color azul_claro
                .active
                    font-weight: bold
                    color azul_claro
        &-items
            display flex
            justify-content: space-between
            flex-wrap: wrap
            padding 50px 0
@media screen and (max-width: 815px)
    .Blog
        &-banner
            &-container
                flex-wrap: wrap
                justify-content: center
            &-texto
                width 100%
                text-align: center
                margin 10px 0
                h1
                    max-width: none

        &-contenido
            &-items
                justify-content: center
@media screen and (max-width: 690px)
    .Blog
        &-banner
            padding 50px 0
        &-contenido
            &-buscador
                h2
                    font-size: 35px
            &-categorias
                .categoria
                    font-size: 18px
@media screen and (max-width: 500px)
    .Blog
        &-banner
            &-texto
                h1
                    font-size: 65px
        &-contenido
            &-menu
                padding 0
            &-buscador
                h2
                    font-size: 25px
                max-width: none
            &-categorias
                ul
                    justify-content: center
                    flex-wrap: wrap
                    flex-direction: column
                    text-align: center
                    .categoria
                        margin 10px
            &-items
                padding 20px 0 50px
