@import "site.styl"
#menu-contacto
	color verde
	border 2px solid verde
.contacto
	background url('../images/contacto/fondo.png') no-repeat top right
	&-comunicate
		padding 70px 0
		display: flex
		align-items: center
		flex-wrap: wrap
		justify-content: space-between
		&-50
			width 50%
			.texto
				padding-right: 55px
				h1
					font-size: 65px
					font-weight: medium
					color: azul
				span
					font-weight: bold
					color: verde
				p
					font-weight: regular
					color: azul_oscuro
					padding-right: 10px
			.fondo
				background: blanco
				border-radius: 40px
				padding 40px 45px 50px 45px
				box-shadow: -2px 2px 12px #bfbcbc8c;
				&-formulario
					form
						position relative
					input
					textarea
						width 100%
						border-radius: 20px
						border 2px solid azul_claro
						padding 5px 10px
						&:focus
							outline: none
					label
						font-weight: regular
						color: azul_oscuro
						padding-left: 10px
					input
						margin:5px 0 18px
						padding 5px 10px
					textarea
						height 110px
						resize: none
						margin-top: 5px
						padding 5px 10px
					.boton
						text-align: center
						a
							font-size: 24px
							font-weight: semibold
							color verde
							background: blanco
							border 2px solid verde
							border-radius: 25px
							padding 8px 70px
							display: inline-block
							margin-top: 25px
							&:hover
								background: verde
								border none
								color white
					&-opciones
						display: flex
						justify-content: space-around
						flex-wrap: wrap
						.opcion
							width calc(33.33% - 20px)
							background: blanco
							text-align: center
							display: flex
							justify-content: center
							align-items: center
							flex-direction: column
							border-radius: 25px
							border 2px solid azul_claro
							margin:10px 10px 25px
							padding 15px 15px 0
							min-width 125px
							position relative
							input
								position absolute
								cursor pointer
								width 100%
								height 100%
								opacity 0
							img
								width: 100%
								max-width: max-content
							p
								font-size: 15px
								 font-weight: medium
								 color azul_claro
							&:hover
								background-color: azul
								p
									color blanco
							&.selected
								background-color: azul
								p
									color blanco

@media screen and (max-width: 1377px)
	.contacto
		&-comunicate
			&-50
				.texto
					padding 0 30px

@media screen and (max-width: 1240px)
	.contacto
		&-comunicate
			&-50
				width 100%
				.fondo
					max-width: 750px
					margin 0 auto
				.texto
					padding-bottom: 50px
					width: 65%
					margin: 0 auto
					h1
						color white
@media screen and (max-width: 980px)
	.contacto
		&-comunicate
			&-50
				.texto
					h1
						color white
					p
						color white

@media screen and (max-width: 650px)
	.contacto
		&-comunicate
			&-50
				.fondo
					&-formulario
						&-contenedor
							padding 0 30px
							.contenedores
								width calc(50% - 30px)
				.texto
					width 100%
@media screen and (max-width: 530px)
	.contacto
		&-comunicate
			&-50
				.fondo
					padding 40px 25px 50px
				.texto
					h1
						font-size 45px
