@import "site.styl"
#menu-home
    color verde
    border 2px solid verde
.home
    .conexion
        border-radius: 0px 0px 80px 80px
    .pagos
        border-radius: 80px 80px 0px 0px
    .clientes
        margin-top: -50px
        padding-bottom 200px
    &-banner
        background url('../images/home/banner.png') no-repeat center bottom
        background-size: cover
        padding 150px 0 50px
        height 110vh
        min-height: 1010px
        &-info
            display: flex
            padding-bottom: 200px
            &-titulo
                width 70%
                h1
                    font-size: 70px
                    font-weight: medium
                    color blanco
                span
                    font-weight: bold
                    color verde
                p
                    font-weight: regular
                    color blanco
            &-imagen
                width 45%
                img
                    width 100%
                    display: block
    &-proyectos
        padding-bottom: 200px
        h3
            font-size: 70px
            font-weight: medium
            color azul
            text-align: center
            margin 0
            margin-bottom: 70px
        &-conexion
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            &-50
                width 45%
                img
                    width 100%
                    display: block
                .info
                    margin: 0 auto
                    max-width: 470px
                    h2
                        font-size: 30px
                        font-weight: medium
                        color azul_claro
                    span
                        font-size: 40px
                        font-weight: semibold
                        color azul
                    p
                        font-weight: regular
                        color azul_oscuro
                        padding-top: 15px
                    a
                        font-size: 24px
                        font-weight: semibold
                        color verde
                        background: blanco
                        border 2px solid verde
                        border-radius: 25px
                        padding 10px 60px
                        display: inline-block
                        margin-top: 25px
                        &:hover
                            background: verde
                            border none
                            color white
            .text
                padding-top: 75px
    &-servicios
        padding-bottom: 200px
        &-titulo
            padding-bottom: 140px
            text-align: center
            h2
                font-size: 70px
                font-weight: medium
                color azul
                margin 0
            p
                font-size: 24px
                font-weight: regular
                color azul_claro
                margin 0
                padding 8px 0 0 0
        &-contenedor
            display: flex
            justify-content: space-around
            flex-wrap: wrap
            .contenedores
                width calc(33.33% - 40px)
                background: blanco
                display: flex
                justify-content: center
                text-align: center
                margin-bottom: 100px
                flex-direction: column
                padding: 40px 20px
                border-radius: 55px
                box-shadow: 0px 8px 20px 3px rgba(193, 193, 193, 0.235)
                min-width 320px
                margin-right: 10px
                p
                    font-size: 30px
                    font-weight: medium
                    color azul_claro
                img
                    width 100%
                    max-width: max-content


    &-blog
        padding: 50px 0 120px
        h2
            text-align: center
            font-size: 50px
            font-weight: medium
            color azul
@media screen and (max-width: 1250px)
    .home
        &-banner
            &-info
                align-items: center
                &-titulo
                    h1
                        font-size: 55px
                        br
                            display none
@media screen and (max-width: 1060px)
    .home
        &-proyectos
            &-conexion
                &-50
                    width 100%
        &-servicios
            &-contenedor
                &-contenedores
                    width calc(50% - 40px)
@media screen and (max-width: 1000px)
    .home
        &-banner
            &-info
                justify-content: center
                flex-wrap: wrap
                &-titulo
                    width 85%
                    text-align: center

@media screen and (max-width: 650px)
    .home
        .clientes
            margin-top: 0
            padding-bottom: 50px
        &-banner
            height unset
            min-height: unset
            padding-top 50px
            &-info
                padding-bottom: 0
                &-imagen
                    width 50%
                &-titulo
                    h1
                        font-size: 40px
                    p
                        font-size: 15px
        &-proyectos
            padding-bottom: 50px
            h3
                font-size: 50px
            &-conexion
                &-50
                    .info
                        h2
                            font-size: 25px
                        span
                            font-size: 28px
                        p
                            font-size:15px
                        a
                            font-size: 18px
                            padding 10px 30px
        &-servicios
            padding-bottom: 50px
            &-titulo
                h2
                    font-size: 50px
                p
                    font-size: 20px
        &-blog
            h2
                font-size: 40px
@media screen and (max-width: 400px)
    .home
        &-banner
            min-height: unset
            padding 50px 0
            &-info
                &-titulo
                    h1
                        font-size: 28px
        &-servicios
            &-titulo
                padding-bottom 50px
            &-contenedor
                .contenedores
                    width calc(50% - 10px)
                    margin-bottom: 30px
                    min-width unset
                    padding 25px 18px
                    p
                        font-size: 15px
                        margin 0
                    &.col
                        img
                            width 70px
