@font-face {
  font-family: 'corvuzv2';
  src:  url('../iconos/corvuzv2.eot?7fyteu');
  src:  url('../iconos/corvuzv2.eot?7fyteu#iefix') format('embedded-opentype'),
    url('../iconos/corvuzv2.ttf?7fyteu') format('truetype'),
    url('../iconos/corvuzv2.woff?7fyteu') format('woff'),
    url('../iconos/corvuzv2.svg?7fyteu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'corvuzv2' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e608";
}
