@import "site.styl"
#menu-nosotros
    color verde
    border 2px solid verde
.Nosotros
    &-banner
        background url('../images/us/banner.jpg') no-repeat center
        background-size: cover
        padding 140px 0
        &-container
            display flex
            justify-content: space-between
            align-items: center
        &-imagen
            width 40%
            img
                width 100%
        &-texto
            color white
            margin-left: 10px
            width 51%
            h1
                font-size: 50px
                font-weight: medium
                margin-bottom: 30px
                strong
                    color verde
            p
                font-size: 16px
    &-software
        padding-top 80px
        &-container
            display flex
            justify-content: space-between
            align-items: center
        &-logo
            margin 10px
            text-align: center
            img
                width 100%
                max-width:max-content
    &-buscamos
        text-align: center
        padding 200px 0
        p
            font-size: 50px
            font-weight: medium
            max-width: 640px
            margin 0 auto
            color azul_oscuro
            strong
                color azul_claro
.verticalScroller
    padding-bottom 200px
    &-titulo
        max-width: 460px
        h2
            font-size: 70px
            font-weight: medium
            color azul
            margin 0
        p
            font-size: 16px
            color azul_oscuro
    &-container
        display flex
        align-items center
        &.layout
            max-width: 1240px
            margin: 0 auto
            padding 0 20px
    &-izq
        width 47%
        padding-left: 20px
        .texto
            h2
                font-size: 30px
                font-weight: 500
                color azul
                margin 0
                cursor: pointer
            span
                color verde
            .submenu
                list-style: none
                li
                    font-size: 16px
                    color azul_oscuro
    &-imagen
        width 50%
        img
            width: 100%
    .slider-nav
        .slick
            &-list
                height: 255px !important
            &-slide
                margin 80px 0
            &-dots
                top 0px
                left -40px
                li
                    width 20px
                    height 85px !important
                    display block !important
                    button
                        width 7px !important
                        height 100% !important
                        background gris !important
                        padding: 0 !important
                        &::before
                            content '' !important
                            height 100% !important
                            width 7px !important
                .slick-active
                    button
                        &::before
                            background: azul
@media screen and (max-width: 1120px)
    .verticalScroller
        .slider-nav
            .slick
                &-dots
                    left -30px
@media screen and (max-width: 1109px)
    .Nosotros
        &-banner
            padding 70px 0
            &-container
                flex-wrap: wrap
                justify-content: center
            &-texto
                width 100%
                text-align: center
@media screen and (max-width: 1030px)
    .verticalScroller
        padding-bottom 100px
        &-container
            flex-direction: column
            align-items: center
        &-titulo
            max-width unset
            text-align: center
            padding-bottom 50px
        &-izq
            width 100%
            .texto
                text-align: center
                h2
                    margin 0
                p
                    max-width unset
                ul
                    padding 0
        &-imagen
            width 50%
            margin-top 50px
            img
                width 100%
        .slider-nav
            .slick
                &-slide
                    margin 0
                &-list
                    height unset !important
                &-dots
                    top unset
                    bottom -30px
                    left 0 !important
                    padding 20px 0 !important
                    li
                        width 25%
                        height 7px !important
                        display inline-block !important
                        margin 0
                        button
                            width 100% !important
                            height 100% !important
                            &::before
                                content '' !important
                                height 100% !important
                                width 100% !important
@media screen and (max-width: 950px)
    .Nosotros
        &-software
            padding 40px 0 0
            &-container
                justify-content: center
                flex-wrap: wrap
            &-logo
                width calc(33% - 20px)
        &-buscamos
            padding: 150px 0
        &-metodologia
            padding: 150px 0
            &-container
                flex-wrap: wrap
                justify-content: center
            &-menu
                width 60%
                margin-bottom: 50px
                &-titulo
                    h2
                        font-size 50px
                &-subtitulos
                    &-item
                        .subtitulo
                            font-size: 30px
@media screen and (max-width: 690px)
    .Nosotros
        &-banner
            padding 30px 0
            &-texto
                h1
                    font-size 30px
                p
                    font-size: 12px
@media screen and (max-width: 510px)
    .verticalScroller
        padding-bottom 50px
        &-titulo
            h2
                font-size 55px
        &-izq
            .texto
                h2
                    font-size 25px
                p
                    font-size 13px
        &-imagen
            width 80%
    .Nosotros
        &-banner
            padding 30px 0
            &-texto
                h1
                    font-size 25px
                p
                    font-size: 12px
        &-software
            padding 10px 0
        &-buscamos
            padding: 100px 0
            p
                font-size: 27px
        &-metodologia
            padding: 50px 0
            &-menu
                 width 100%
                &-titulo
                    h2
                        font-size 40px
                &-subtitulos
                    &-item
                        .subtitulo
                            font-size: 20px
            &-content
                width 100%
@media screen and (max-width: 440px)
    .verticalScroller
        &-titulo
            h2
                font-size 45px
