@import "site.styl"
#menu-servicios
    color verde
    border 2px solid verde
.Servicios
    .conexion
        border-radius: 0px 0px 80px 80px
    .pagos
        border-radius: 80px 80px 0px 0px
    &-banner
        background url('../images/servicios/banner.jpg') no-repeat center
        background-size: cover
        height 90vh
        min-height: 510px
        &-container
            display flex
            justify-content: space-between
            align-items: center
            height 100%

        &-imagen
            width 50%
            img
                width 100%
        &-texto
            color white
            width 50%
            h1
                max-width: 590px
                font-size: 70px
                font-weight: medium
                strong
                    color verde
    &-items
        padding 100px 20px
        .servicio
            display flex
            justify-content: space-between
            align-items: center
            margin 100px 0
            &:first-child
                margin: 0
            &-imagen
                max-width max-content
                margin-right: auto
                img
                    width 100%
                    display: block
            &-texto
                width max-content
                padding 0 40px
                h2
                    font-size: 70px
                    font-weight: medium
                    color azul
                    max-width max-content
                p
                    font-size: 16px
                    max-width: 500px
                ul
                    list-style none
                    padding: 0
                    max-width max-content
                li
                    font-size: 18px
                    font-weight: medium
                    color azul_claro
        .servicio2
            display flex
            justify-content: space-between
            align-items: center
            margin 100px 0
            &-imagen
                max-width max-content
                margin-left: auto
                img
                    width 100%
                    display: block
            &-texto
                width max-content
                padding 0 40px
                text-align: right
                h2
                    font-size: 70px
                    font-weight: medium
                    color azul
                    max-width max-content
                    margin-left: auto
                p
                    font-size: 16px
                    max-width: 500px
                    margin-left: auto
                ul
                    list-style none
                    padding: 0
                    max-width max-content
                    margin-left: auto
                li
                    font-size: 18px
                    font-weight: medium
                    color azul_claro

@media screen and (max-width: 1109px)
    .Servicios
        &-banner
            padding 70px 0
            &-container
                flex-wrap: wrap
                justify-content: center
            &-texto
                width 100%
                text-align: center
                h1
                    max-width none
        &-items
            .servicio
                &-imagen
                    width 40%
@media screen and (max-width: 970px)
    .Servicios
        &-items
            .servicio, .servicio2
                flex-wrap: wrap
                &-imagen
                    width 50%
                    margin 0 auto
                &-texto
                    margin 0 auto
                    h2, p, ul
                        margin 20px 0
            .servicio2
                flex-wrap: wrap-reverse
                &-texto
                    text-align: left
@media screen and (max-width: 660px)
    .Servicios
        &-banner
            &-texto
                h1
                    font-size: 50px
        &-items
            .servicio, .servicio2
                &-texto
                    padding 0
                    h2
                        font-size: 50px
                        text-align: center
@media screen and (max-width: 360px)
    .Servicios
        .conexion
            border-radius: 0px 0px 40px 40px
        .pagos
            border-radius: 40px 40px 0px 0px
        &-banner
            padding 50px 0px
            height 50vh
            &-imagen
                width 100%
            &-texto
                h1
                    font-size: 30px
        &-items
            padding 100px 20px 0
            .servicio, .servicio2
                &-texto
                    padding 0
                    h2
                        font-size: 40px
