@import "normalize.styl"
@import "iconos.styl"
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// COLORES

azul = #0049fa
azul_claro = #3dacff
azul_oscuro = #002163
verde = #01ff80
blanco	= #ffffff
gris = #e3e2e2
gris_fondo = #fafafa

light = 300
regular =  400
medium = 500
semibold = 600
bold = 700

body
    font-family: Poppins
    font-size 16px
    color azul_oscuro
*
    box-sizing border-box

.layout
    width 100%
    max-width: 1240px
    margin 0 auto
    padding 0 20px
a
    text-decoration: none
    color inherit
.articulos
    display: flex
    justify-content: space-between
    flex-wrap: wrap
.blogItem
    width calc(33.33% - 60px)
    margin 30px 0
    margin-right 10px
    img
        width 100%
        display: block
        border-radius: 35px
        box-shadow: 0px 18px 11px 6px #f9f9f9
    h4
        font-size: 24px
        font-weight: medium
        color azul_claro
        margin 0
        padding-top: 22px
        max-width: 300px
    p
        font-weight: regular
        color azul_oscuro
        font-size: 15px
    span
        font-size: 24px
        font-weight: semibold
        color verde
        background: blanco
        border 2px solid verde
        border-radius: 25px
        padding 10px 60px
        display: inline-block
        margin: 15px 45px 0
    &:hover
        h4
            color verde
        span
            background: verde
            border none
            color white
.clientes
    padding-bottom 200px
    &-titulo
        text-align: center
        margin: 0 auto
        max-width: 1000px
        padding-bottom 90px
        h2
            font-size: 50px
            font-weight: medium
            color azul_oscuro
            margin 0
        p
            font-size: 24px
            font-weight: regular
            color: azul_claro
    &-items
        display: flex
        justify-content: center
        align-items: center
        flex-wrap: wrap
    &-logo
        margin 20px 10px
        text-align: center
        width calc(25% - 20px)
        img
            width 100%
            max-width: max-content
        &:hover
            transform: scale(1.1)
            transition: 0.5s
.pagos
    padding: 50px 30px 100px
    background gris_fondo
    &-lineas
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center
        &-texto
            width calc(50% - 100px)
            .texto
                h3
                    font-size: 50px
                    font-weight: medium
                    color azul_claro
                    margin 0
                    padding-bottom: 50px
                p
                    font-size: 16px
                    color azul_oscuro
                    margin 0
                    padding-right: 60px
        &-imagen
            width calc(50% - 100px)
            img
                width 100%
                display: block
.conexion
    padding: 50px 0
    background gris_fondo
    border-radius: 50px
    margin-bottom: 200px
    &-container
        display: flex
        flex-wrap: wrap-reverse
        justify-content: space-between
        align-items: center
    &-imagen
        width calc(50% - 100px)
        img
            width 100%
            display: block
    &-texto
        width calc(50% - 100px)
        h3
            font-size: 50px
            font-weight: medium
            color azul_claro
            padding-bottom: 50px
            max-width: 500px
            margin 0
        p
            font-size: 16px
            color azul_oscuro
            margin 0
            max-width: 420px
.header
    background azul
    padding 20px 0
    box-shadow: -2px 4px 8px 2px #dedede;
    &-container
        display: flex
        justify-content: space-between
        align-items: center
        figure
            img
                width 100%
.menu
    width 75%
    color white
    ul
        list-style none
        padding: 0
        display flex
        justify-content: space-between
        li
            width 20%
            text-align: center
            a
                font-size: 16px
                display block
                font-weight: semibold
                padding: 20px 20px
                border 2px solid transparent
                &:hover
                    color verde
                    border 2px solid verde
#menu
    color white
    font-size: 45px
    cursor pointer
    position absolute
    right 35px
    top: 30px
    display none
.footer
    background url('../images/footer.png') no-repeat center top
    background-size: cover
    padding: 150px 0
    &-container
        display: flex
        justify-content: space-between
        color white
        figure
            margin 0 10px
        h3
            font-size: 24px
            font-weight: semibold
            color verde
            margin 0
    &-menu
        ul
            list-style none
            margin 0
            padding 0
            li
                margin-bottom 20px
                a
                    font-size: 16px
                    &:hover
                        color verde
                        font-weight: semibold
            #home
                a
                    font-size: 24px
                    font-weight: semibold
                    color verde

    &-contacto
        p
            font-size: 16px
    &-siguenos
        a
            font-size: 16px
            display: inline-block
            &:hover
                color verde
        .redes
            margin 20px 0 40px
            img
                margin-right 10px
                display: block


@media screen and (max-width: 1185px)
    .contenedor
        &-contenedores
            margin-bottom: 50px
            width calc(50% - 60px)

@media screen and (max-width: 1185px)
    .blogItem
        width calc(50% - 60px)
@media screen and (max-width: 1060px)
    .pagos
        &-lineas
            &-texto
                width 100%
                text-align: center
                .texto
                    padding-bottom: 80px
                    p
                        padding 0
            &-imagen
                margin 0 auto
    .clientes
        &-logo
            width calc(33% - 20px)
    .conexion
        &-imagen
            width 80%
            margin 0 auto
        &-texto
            width 100%
            padding-bottom: 30px
            text-align: center
            h3, p
                max-width none
@media screen and (max-width:900px)
    #menu
        display: block
        z-index: 12
        &.show
            position: fixed
    .header
        &-container
            padding-top 10px
        figure
            z-index 11
            padding 0
            margin 0 20px
            top 30px
            &.show
                position: fixed
            .logoBlanco
                &.show
                    display: block
            .logoNegro
                &.show
                    display: none
        .menu
            position fixed
            background-color azul_oscuro
            top 0
            right -100%
            z-index 10
            transition: all 0.2s ease-in-out
            min-height: 100vh
            overflow-y auto
            padding 140px 20px 20px 20px
            width: 100%
            &.show
                right 0
                color white
            ul
                display: block
                text-align: right
                li
                    width 100%
@media screen and (max-width: 815px)
    .articulos
        justify-content center
    .blogItem
        width 60%
        min-width 320px
    .footer
        &-container
            flex-direction: column
            align-items: center
            text-align: center
            figure
                margin 20px 0
            div
                margin 20px 0
@media screen and (max-width: 759px)
    .clientes
        &-logo
            width calc(50% - 20px)
@media screen and (max-width: 650px)
    .pagos
        padding 50px 0px
        &-lineas
            &-imagen
                width 100%
    .conexion
        &-imagen
            width 100%
        &-texto
            h3
                font-size: 35px
            p
                font-size: 16px
    .clientes
        padding-bottom 100px
        &-titulo
            h2
                font-size: 29px
            p
                font-size: 18px
    .home
        &-blog
            h2
                font-size: 30px
@media screen and (max-width: 500px)
    .clientes
        padding-bottom: 50px
        &-titulo
            padding-bottom: 20px
            h2
                font-size: 25px
        &-items
            flex-direction: column
        &-logo
            width: calc(100%)
    .conexion
        margin-bottom: 50px

