@import '../normalize.styl'
@import 'material.styl'

a
	color inherit
	text-decoration none

*
	box-sizing border-box

h1
	font-size: 32px
	font-weight: 300

p
	line-height: 1.4em

body
	overflow-x hidden
	font-family: 'Roboto', sans-serif;
	font-weight 400
	font-size 14px
	background: rgba(0, 0, 0, .05)
.formError
	.formErrorContent
		background-color ginda
		border 2px solid ginda
	.formErrorArrow
		.line1
		.line2
		.line3
		.line4
		.line5
		.line6
		.line7
		.line8
		.line9
		.line10
			background-color ginda
			border-left: 2px solid ginda;
			border-right: 2px solid ginda;
			box-shadow: 0 2px 3px ginda;
.spinner
	display none
	position fixed
	width 100%
	height 100%
	z-index 10000000000000
	background rgba(0, 0, 0, .7)

.Admin
	&-header
		background negro
		color white
		padding 10px
		display flex
		justify-content space-between
		align-content: center
		position: fixed
		top 0
		left 0
		width 100%
		z-index 10
		h2
			font-weight 500
			font-size 20px
			margin 0
		.material-icons
			font-size: 18px
			display inline-block
			vertical-align bottom
		a
			font-weight: 700
	&-menu
		color white
		background negro
		position: fixed
		left 0
		top 43px
		bottom 0
		width 200px
		//box-shadow 2px 2px 3px 0px rgba(0, 0, 0, 0.2)
		overflow-y auto
		ul
			padding 0 0 0 5px
			margin 0
			list-style none
		li
			//border 1px solid black
			margin 15px 0
			//border-radius 30px
			font-size: 16px
			&.is-selected
				background:#f2f2f2
				font-weight: 700
				color negro
				position relative
				border-radius 30px 0px 0px 30px
				&:after
					content ''
					position absolute
					width: 15px;
					height: 15px;
					background: green;
					border-radius: 0 100px 0 0;
					-moz-border-radius: 0 100px 0 0;
					-webkit-border-radius: 0 100px 0 0;
					background negro
					right -0px
					transform: rotate(0deg);
					box-shadow: 3px -5px 0 0 #f2f2f2;
					bottom -37.75%
				&:before
					content ''
					position absolute
					width: 15px;
					height: 15px;
					background: green;
					border-radius: 0 100px 0 0;
					-moz-border-radius: 0 100px 0 0;
					-webkit-border-radius: 0 100px 0 0;
					background negro
					right -0px
					transform: rotate(90deg);
					box-shadow: 3px -5px 0 0 #f2f2f2;
					top -38.75%
			/*&:last-child
				border-bottom none*/
			a
				display: block
				padding 10px
				.material-icons
					display: inline-block
					vertical-align bottom
					font-size: 20px
					width: 30px
	&-panel
		padding 50px 20px 20px 220px


.Panel
	padding 40px
	background: white
	box-shadow 0px 0px 2px rgba(0, 0, 0, .2)
	.Interrogatorio
		width: 50%
		margin 0 auto
		&-item
			background #f2f2f2
			border-radius 10px
			padding 5px 10px
			margin 10px 0
			position relative
			.btn-editar
				position: absolute
				right 0px
				top 5px
				border none
				cursor pointer
				&:focus
					outline none
			p
				margin 0
			.titulo
				font-weight: bold
				font-size: 20px
			.pregunta
				position relative
				padding-left 15px
				&:before
					content ''
					top 2px
					left 0
					width 8px
					height 8px
					position absolute
					background transparent
					border-radius 100%
					border 2px solid rgba(0, 0, 0, .4)
		&-add
			margin-top 30px
			border 1px solid black
			display flex
			&-item
				padding 5px 12px
				input
					margin 10px 0
					border-top none
					border-left none
					border-right:  none
					border-bottom 1px solid black
					width 100%
					&:focus
						outline: none
				.btn-add
					padding 10px 0
					button
						border-radius 100%
						border none
						background dorado
						color white
						padding 3px 8px
						cursor pointer
				.input-preguntas
					display flex
					align-items center
					&-item
						textarea
							width 100%
							display block
							resize none
							&:focus
								outline: none
						&:nth-child(1)
							width 5%
							button
								border-radius 100%
								border none
								background dorado
								color white
								padding 4px 9px
								font-size: 14px
								cursor pointer
						&:nth-child(2)
							width 95%
				&:nth-child(1)
					width 80%
				&:nth-child(2)
					display flex
					flex-direction: column
					justify-content end
					text-align: center
					width 20%
					border-left 1px solid black
					button
						cursor pointer
						border none
						margin 5px 0
						&:focus
							outline none
						span
							font-size 28px

	.Cita
		max-width: 750px
		margin 0 auto
		//height 500px
		padding 30px 0
		position relative
		h2
			text-align center
		&-top
			button
				border none
				background dorado
				padding 10px
				color white
				border-radius: 7px
				cursor pointer
				&:focus
					outline none
		&-bottom
			text-align: center
			margin-bottom 30px
			position absolute
			left 0
			width 100%
			bottom -60px
			button
				border none
				background transparent
				cursor pointer
				background dorado
				padding 10px
				color white
				border-radius: 7px
				&:focus
					outline none
		&-container
			padding 20px 0
			display flex
			flex-direction: column
			justify-content: center
			height 100%
			&.scroll
				overflow-y: auto
		&-section
			.inputs
				&.v4
					display flex
					flex-wrap wrap
					.input-radioGroup
						width 50%
	&-titulo
		h1
			font-weight 300
			font-size 18px
			padding 0
			color negro
			img
				display inline-block
				vertical-align middle
				max-width 50px
	&-actions
		.btn
			margin-bottom 10px
	&-container
		background white
		padding 20px
		border-radius 2px
		box-shadow 0 1px 1px rgba(0,0,0,.1)
		margin-bottom 40px
		&-view
			.seccion
				&.w-50
					display flex
					flex-wrap wrap
				&-col
					margin 5px
					background #f2f2f2
					padding 15px
					border-radius 20px
					table
						tr
							td
								padding 0px 5px 5px 5px
					&:nth-child(5)
						width 50%
			.nav-ver
				position: fixed;
				top: 10%;
				right: 3%;
				ul
					list-style  none
					position relative
					&:after
						content ''
						top 0
						left 25px
						position absolute
						height 100%
						width 2px
						background dorado
					li
						padding 10px 0
						position relative
						cursor pointer
						&.selected
							&:after
								content ''
								top 18%
								left -8.5%
								position absolute
								height 20px
								width 20px
								background dorado
								border-radius 50px


			.expediente-visor
				max-width 800px
				margin 0 auto
				&-btn
					position: fixed
					bottom 20px
					right 300px
					button
						border none
						background dorado
						color white
						padding 10px 20px
						border-radius 20px
						cursor: pointer
						box-shadow: 0px 0px 8px 1px rgba(0,0,0,.7)
				&-col
					h2
						border-bottom 1px solid black
						color black
						display: flex
						justify-content space-between
						cursor pointer
						span
							font-size 30px
				&-datos
					width 100%
					&-add
						button
							background dorado
							width 10%
							padding 10px
							border-radius 10px
							cursor pointer
							border none
							color white

					&.separador
						padding-bottom 50px
					&.w-flex
						display flex
						padding-bottom 0px
						align-items: flex-end
					&.marge
						padding 0 15px
						flex-wrap: wrap;
						//justify-content: space-between;
					&.space
						&:nth-child(1)
							padding-right 5px
						&:nth-child(2)
							padding-left 5px
							padding-right 5px
						&:nth-child(3)
							padding-left 5px
					p
						margin 0 5px
						&:nth-child(1)
							font-weight bold
						&:nth-child(2)
							border-bottom 2.5px solid rgba(0, 0, 0, .2)
						span
							font-size 9px
							font-weight 400
					table
						width 70%
						margin 0 auto
						border-collapse: collapse;
						th
						td
							border: 1px solid black;
							text-align center
							padding 5px 10px
							&:nth-child(5)
								border:none
								button
									border none
									background transparent
									cursor pointer
								span
									background red
									padding 2px 5px
									border-radius 100px
									color white

					.focus
						height:2px;
						width: 100%;
						background: rgb(143, 4, 4);
						display: block;
						transform: scaleX(0) ;
						transform-origin: 50%;
						opacity: 0;
						transition: all .20s linear;
					input
						margin 0 5px
						width 100%
						border-left: none
						border-top: none
						border-right: none
						border-bottom 2.5px solid rgba(0, 0, 0, .2)
						&:focus
							outline none
							border-bottom 2.5px solid rgb(143, 4, 4);
							transition: all .30s linear;
						&:focus + .focus
							transform: scaleX(0.97) translateY(-2px);
							opacity: 1;
					textarea
						margin 3px 5px
						width: 100%;
						resize none
						border none
						background: repeating-linear-gradient(0, #fff, rgba(0, 0, 0, .4) 1px, #fdfdfd -18px, #fff 16.5px);
						&:focus
							outline none

					label
						margin: 0 5px;
						font-weight: bold;
						span
							font-size 9px
							font-weight 400
					&-checkbox
						width: calc(33.33% - 10px);
						&.otros
							width: 100%;
							display: flex;
						.container
							font-weight 300
							margin 0
							display: block;
							position: relative;
							padding-left: 30px;
							padding-top 5px
							cursor: pointer;
							font-size: 15px;
							-webkit-user-select: none;
							-moz-user-select: none;
							-ms-user-select: none;
							user-select: none;
							input
								width: 30px
								margin 0
								position: absolute;
								opacity: 0;
								cursor: pointer;
								height: 0;
								width: 0;
						.container
							&:hover
								input + .checkmark
									background-color: #ccc;
						.container
							input
								&:checked + .checkmark
									background-color: dorado;
						.checkmark
							position: absolute;
							top: 0;
							left: 0;
							height: 20px;
							width: 20px;
							background-color: #eee;
							border 1px solid black
							&:after
								content: "";
								position: absolute;
								display: none;
								left: 5px;
								width: 5px;
								height: 10px;
								border: solid white;
								border-width: 0 3px 3px 0;
								-webkit-transform: rotate(45deg);
								-ms-transform: rotate(45deg);
								transform: rotate(45deg);
						.container
							input
								&:checked + .checkmark:after
									display block


				/*&-col
					h2
						border-bottom 1px solid black
						color black
				&-datos
					padding-bottom 30px
					&.w-flex
						display flex
						padding-bottom 0px
					&-item
						display flex
						width 100%
						p
							margin 0
							font-size 18px
							&:nth-child(1)
								font-weight bold
							&:nth-child(2)
								padding-left: 10px;*/

			&-actions
				margin-bottom 40px
				text-align right
				form
					margin-bottom 20px
					input[type="file"]
						border 2px solid morado
						padding 3px 15px 5px 15px
						border-radius 2px 0 0 2px
						box-shadow 0 2px 5px rgba(0,0,0,.16), 0 2px 10px rgba(0,0,0,.12)
						&:focus
							outline none
				&.flex
					display flex
					justify-content space-between
			table
				width 100%
			th
				&.imagen
					width 100px!important
			th
			td
				text-align left
			td
				img
					display block
					width 100px
				.imagen
					transition: all .1s ease-in-out;
					&:hover
						transform: scale(2)
						transition: all .4s ease-in-out;
						border-radius 2px
		&-add
		&-edit
		&-view
			h2
				font-weight 300
				color negro
				font-size 20px
				span
					display block
					margin-top 5px
					font-size 13px
					font-weight 400
			.info
				display flex
				justify-content space-between
				.col
					display: inline-block
					vertical-align: top
					width calc(50% - 10px)
			#form-send
				h3
					font-weight 400
					margin-bottom 30px
				.input
					margin-bottom 20px

div.tagsinput
	width: 100%!important
	border 2px solid black
	height auto!important
	min-height auto!important
	margin-bottom 30px
div.tagsinput span.tag
	border none
	background black
	color white
	margin 5px
div.tagsinput span.tag a
	color white
div.tagsinput input
	margin 5px
.ct-widget.ct-ignition
	left auto
	top auto
	bottom 100px
	right 120px
	position fixed
.ct-widget.ct-inspector
	background black
.ce-element--focused
	background rgba(243,156,18,.5)
	padding 10px
.ct-widget .ct-ignition__button--edit
	background black
	&:hover
		background black
.ct-widget .ct-control--icon, .ct-widget .ct-control--icon:after
	display none!important
.ce-element--type-image
	background-size cover
	background-repeat no-repeat
	max-width 800px
	margin 20px auto
.ce-element--type-text
	&.text-center
		text-align: center
	&.text-right
		text-align: right
	&.text-left
		text-align: left
.ce-element--type-video
	width: 100%!important
	height: 480px!important
	margin 20px auto

.Entrada
	&-add
		margin-top 40px
	&-buscador
		padding-top 40px
		&-table
			table
				margin-bottom 20px
				border-left 1px solid rgba(0, 0, 0, .3)
				border-right 1px solid rgba(0, 0, 0, .3)
				width: 100%
				border-collapse collapse
			thead
				background black
				color white
			th
				text-align: left
				padding 10px
				font-weight 400
			td
				padding 5px
				border-bottom 1px solid rgba(0, 0, 0, .3)
	&-total
		margin-bottom 20px

.post-content
	p
	h1
	h2
	h3
	h4
	h5
	h6
	ul
	li
		text-align left
		&.text-center
			text-align center
		&.text-left
			text-align left
		&.text-right
			text-align right

.Hidde
	display: none

.FancyView
	width: 100%
	max-width 680px
	table
		width: 100%
		border-collapse collapse
		tr
			td
				padding 10px
				border 1px solid rgba(0, 0, 0, .5)
			td:first-child
				background-color: cafe
				color white
				width: 200px

.trumbowyg-editor
	.table
		tbody
			tr:nth-of-type(odd)
				background-color: transparent
			tr
				td
					border 1px solid rgba(0, 0, 0, .2)
					&:first-child
						background white
					&:last-child
						background rgba(0, 0, 0, .2)
.Validator
	position: fixed
	width 50%
	left 25%
	top 0px
	opacity 1
	background-color: dorado
	color white
	font-size 16px
	animation: fadein .5s;
	box-shadow 2px 5px 6px 0px rgba(0, 0, 0, .60)
	z-index: 10000001
	.btn-validator
		text-align center
		padding 10px 0
		button
			background-color white
			color black
			border none
			padding 5px 8px
			cursor pointer
@keyframes fadein
	from {
		opacity: 0;
		top: -100px;
	}
	to   {
		opacity: 1;
		top: 0;
	}
