
gris_claro = #f6f6f6
gris_oscuro = #999999
gris_banner_fondo = #bbbbb7


negro = #16243b
dorado = #5f8bb4
negro_obscuro = #000000
gris_1 = #8c8c8c
gris_2 = #15151

#keywords_tag
	border none
	&::placeholder
		color rgba(0, 0, 0, .4)
.post
	border 2px solid black
	padding 20px
	margin-bottom 30px
	position: relative
	&-label
		font-weight 600
	img
		display: block
		max-width 800px
		margin 20px auto
	iframe
		width: 100%
		height: 480px
		margin 20px auto
		display: block
.btn
	display inline-block
	vertical-align top
	padding 8px 15px
	border-radius 2px
	box-shadow 0 2px 5px rgba(0,0,0,.16), 0 2px 10px rgba(0,0,0,.12)
	color white
	cursor pointer
	border none
	font-family inherit
	margin-right 10px
	font-size 14px
	background: dorado
	&--delete
	&--delete-no-data
		background red
	&--archivo
		background red
		border-radius 5px
		font-weight 700
	&--excel
	&--edit
	&--stock
		background dorado
		color black


.trumbowyg-box
	border 2px solid black
.trumbowyg-editor
	border-top 2px solid black

.inputs
	display flex
	justify-content space-between
	align-items: center
	&.w-25
		justify-content initial
		align-items: center
	.input
		width calc(50% - 10px)
		&.w-25
			width calc(25% - 10px)
			margin 5px
			text-align: initial
		.select
			font-weight: 300;
			background: #fff;
			font-size: 16px;
			padding: 6px 10px;
			display: block;
			width: 100%;
			border: 2px solid #000;
			border-radius: 2px; 
	


.input
	input
	textarea
	select
	label
		font-family inherit
	.error
		color white
		margin 0
	&-50
		width: 50%
		display: inline-block
		vertical-align: top
	&-30
		width: 33.33%
		display: inline-block
		vertical-align: top
	&-c
		padding 0 10px
	&-l
		padding-right 10px
	&-r
		padding-left 10px
	&.only-promocion
		display none
	&.image
		position relative
		margin-bottom 20px
		position: relative
		.container
			border-radius 2px
			display: inline-block
			vertical-align: top
			position: relative
		.icon-close
			display: block
			background-color: red
			color white
			position: absolute
			top 0
			right -24px
			width: 20px
			text-align: center
			font-style normal
			padding 8px 0
			border-radius 2px
			display: none
			cursor: pointer
			&.is-visible
				display: block
		img
			display none
			width 100%
			margin-top 0px
			max-width 213px
			&.is-visible
				display block
		input
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			z-index: 10;
			font-size: 20px;
			cursor: pointer;
			height: 36px;
			opacity: 0;
			width: 100%
		span
			margin-right 0
			cursor: pointer
		p
			margin 0 0 5px 0
	&.select
		position relative
		margin-bottom 20px
		label
			font-size 14px
			display: block
			margin-bottom 4px
		select
			width 100%
			background white
			border 2px solid black
			border-radius 2px
			padding 7px 5px
			&:focus
				outline none
				border-color rgba(0, 0, 0, .5)
	&.add
		select
			width 96%
		a
			margin-left 15px
			text-decoration none
			padding 5px
			span
				font-size 22px
				font-weight 600

	&.text
		position relative
		margin-bottom 20px
		input
		textarea
			font-weight 300
			background white
			font-size 16px
			padding 5px 10px
			display block
			width 100%
			border 2px solid black
			border-radius 2px
			&:focus
				outline:none
		textarea
			height 120px
			resize none
		label
			font-size 14px
			display: block
			margin-bottom 4px
		.tagsinput
			padding 10px 15px 5px 10px
			.tag
				border-radius: 20px
				background dorado
	&-radioGroup
	&-checkGroup
		position relative
		margin-bottom 20px
		p
			margin 0 0 5px 0
	&-radio
		display inline-block
		padding-right 20px
		font-size 16px
		line-height 49px
		cursor pointer
		&:hover
			.inner
				transform scale(0.5)
				opacity .5
		input
			width 1px
			height 1px
			opacity 0
			&:checked + .outer .inner
				transform scale(1)
				opacity 1
			&:checked + .outer

			&:focus + .outer .inner
				transform scale(1)
				opacity 1
		.outer
			width 26px
			height 26px
			display block
			float left
			margin 10px 0px 10px 10px
			border-radius 50%
			background-color white
			border 2px solid black
		.inner
			transition all 0.25s ease-in-out
			width 16px
			height 16px
			transform scale(0)
			display block
			margin 3px
			border-radius 50%
			opacity 0
			background black
	&-check
		display inline-block
		padding-right 20px
		font-size 16px
		line-height 49px
		cursor pointer
		width 20%
		span
			display inline-block
			vertical-align: top
			margin-left 18px
			padding-top 5px
		input
			position relative
			&:focus
				outline-color white
			&:before
				border: 2px solid black;
				content: "";
				cursor: pointer;
				display: block;
				height: 20px;
				position: absolute;
				-moz-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				-webkit-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
				width: 20px;
				z-index: 1;
			&:checked
				&:before
					border-top-style: none;
					border-right-style: none;
					height: 14px;
					-moz-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					-webkit-transform: rotate(-45deg);
					transform: rotate(-45deg);
					border-color:morado;
			&:after
				background: #fff;
				content: "";
				display: block;
				height: 15px;
				position: absolute;
				top: 0;
				width: 15px;
				z-index: 0;

.dataTables_filter input
.dataTables_filter select
.dataTables_length input
.dataTables_length select
	border: 1px solid rgba(0, 0, 0, .5);
	height: 35px;
	padding: 10px 15px;
	font-size: 13px;
	border-radius: 2px;
	-webkit-appearance: none;
	-moz-appearance: none;
	line-height: 100%;
	background-color: #fff;
	font-family inherit
	margin 0px 0 20px 0


.getTables>tbody>tr>td
.getTables>thead>tr>th

.table>tbody>tr>td
.table>thead>tr>th
	padding 10px
	font-size 14px
	border none
	border-bottom 1px solid rgba(0, 0, 0, .5)
	vertical-align middle

.getTables>thead>tr>th
.table>thead>tr>th
	background-color: negro
	color white
	font-weight: 500;
	text-transform: uppercase;

table.dataTable.no-footer
	border-left 1px solid rgba(0, 0, 0, .5)
	border-right 1px solid rgba(0, 0, 0, .5)
	border-bottom none

.table>tbody>tr:nth-of-type(odd)
.getTables>tbody>tr:nth-of-type(odd)
	background-color rgba(0, 0, 0, .1)

.table
.getTables
	border 1px solid rgba(0, 0, 0, .5)
	width 100%
	border-collapse collapse
	th
		text-align left
	.imagen
		img
			width 250px
	.input-check
		line-height 1rem
		width auto
	.input-checkGroup
		margin-bottom 0

.tabla-precios
	&-container
		padding 10px 10px 0 10px
	h2

		color white
		font-weight 400
		font-size 16px
		margin 0 0 40px 0
		padding 10px 5px

.FancyView
	td
		color negro!important